# Unidade IV - unindo dados

    - Filtrar valores contendo parte de uma string em colunas de um DataFrame usando str.contains().
    - Criar colunas com base em dados de outras colunas usando o método assign().
    - Utilizar expressões regulares para buscar padrões textuais em strings.
    - Substituir parte de uma string em valores de uma coluna com método replace().
    - Unir conjuntos de dados com o método merge().
    - Construir gráficos de barras e dispersão interativos com a biblioteca plotly.

In [1]:
# imports

import pandas as pd

Vamos realizar a importação de uma nova base de dados com a informação da população de cada estado do Brasil, para posteriormente encontrarmos a emissão per capita de cada estado.

ℹ
Os dados foram obtidos através do [censo do IBGE](https://www.ibge.gov.br/estatisticas/sociais/saude/22827-censo-demografico-2022.html?=&t=resultados)

In [3]:
tabela_populacao = pd.read_excel("./dados/POP2022_Municipios.xlsx",sheet_name='Municípios' ,engine='openpyxl')
tabela_populacao

      UF  COD. UF  COD. MUNIC      NOME DO MUNICÍPIO POPULAÇÃO
0     RO       11          15  Alta Floresta D'Oeste     21558
1     RO       11          23              Ariquemes    100896
2     RO       11          31                 Cabixi      5107
3     RO       11          49                 Cacoal     92202
4     RO       11          56             Cerejeiras     15237
...   ..      ...         ...                    ...       ...
5565  GO       52       22005             Vianópolis     14046
5566  GO       52       22054         Vicentinópolis      8776
5567  GO       52       22203               Vila Boa      3686
5568  GO       52       22302          Vila Propício      5646
5569  DF       53         108               Brasília   2923369

[5570 rows x 5 columns]